@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom.css */
.navbar-nav .nav-item .nav-link:hover {
  color: black; /* Change to your desired text color on hover */
  background-color: #f0f0f0; /* Change to your desired background color on hover */
  /* Add any other styling you want for the hover effect */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #1f2937 !important;
}
